.grid {
  width: 531px;
  height: 521px;
  border: 1px solid #444;
  border-bottom: 1px solid #444;
  box-sizing: border-box;

  .row {
    display: flex;
    height: 52px;
    box-sizing: border-box;

    &:last-child {
      border-bottom: none;
      height: 52px;
    }

    .cell {
      width: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #444;

      &.open {
        background-color: #adacac;
        outline: 0.5px solid #444;
      }

      &:hover {
        outline: 3px solid rgb(255, 255, 255);
        background-color: #8d8c8c;
        &.open {
            background-color: none
          }
      }
      // Removesd last child right margin none
    }
  }
}
