@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.score-head {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  padding: 0px 10px;
  border: 2px solid gray;

  .reset,
  .flag-count,
  .timer {
    width: 55px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid gray;
    color: red;
    font-family: 'Orbitron', sans-serif;
  }

  .reset {
    font-size: 25px;
    color: yellow;
  }
}
