.footer {
  width: 531px;
  height: 200px;
  display: flex;
  padding-top: 50px 0px 0px 0px;
  background-color: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  a {
    z-index: 2;
    opacity: 0.9;
    font-size: 1.1em;
    padding: 20px;
    pointer-events: stroke;
    height: 100px;
    width: 100px;
    a:hover i {
      transform: scale(1.5em);
    }
  }
  .icon {
    height: auto;
    font-size: 40px;
    color: #444;
    :hover {
      transform: scale(1.5);
    }
  }
}
